#
# Copyright (c) 2022 Laird Connectivity LLC
#
# SPDX-License-Identifier: LicenseRef-LairdConnectivity-Clause
#

if LCZ_SENSOR_TELEM_MQTT

config LCZ_MQTT_BLE_AD_LIST_SIZE
	int "Size in bytes of Advertisement List"
	range 65 4096
	default 1072

config LCZ_MQTT_BLE_PUBLISH_THRESHOLD
	int "Publish immediately if list size is past this threshold"
	range 1 4096
	default 768

config LCZ_MQTT_BLE_FIRST_PUBLISH
	int
	default 120
	help
	  Allow time for the gateway to initialize and connect to network

config LCZ_MQTT_PUBLISH_RATE
	int "Time in seconds between publishes of advertisement list"
	default 600

config LCZ_MQTT_ADV_AS_HEX_STRING_MAX_LEN
	int "Maximum size of advertisement data in hexadecimal"
	default 74

endif # LCZ_SENSOR_TELEM_MQTT
